.content {
  max-width: 960px;
  height: 100%;
  padding: 0 calc(50% - 480px);
  font-size: 2rem;
  position: relative;
}

.content .messages {
  height: calc(100% - 3rem);
  padding: 10px;
  background: beige;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
}

.content .messages .line {
  display: inline-block;
}

.content form {
  width: 100%;
  max-width: 960px;
  height: 3rem;
  position: absolute;
  bottom: 0;
  display: flex;
}

.content form input {
  width: 80%;
  padding: 10px;
  border: none;
  font-size: inherit;
  background: HoneyDew;
  outline: none;
}

.content form button {
  width: 20%;
  border: none;
  font-size: inherit;
  background: LightCoral;
  cursor: pointer;
}
